*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(226, 69, 11);
  --secondary-color: rgb(241, 235, 235);
  --small-padding: 1.5em;
  --tertiary-color: rgb(75, 211, 75);
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  color: rgb(17, 17, 17);
}
header {
  background-color: var(--primary-color);
  padding: var(--small-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 1em;
  }
  .function-icons {
    top: 0;
  }
}
@media (max-width: 600px) {
  .book-background {
    flex-direction: column;

    padding: 0;
    margin: 0;
  }
  .hero-page-writings {
    line-height: 1.1;
  }
  .hero-page-writings h1 {
    line-height: 1;
    margin-bottom: 1em;
  }
  .fa-book-open {
    margin-top: 0.3em;
  }
}
@media (max-width: 320px) {
  .function-icons {
    flex-direction: column;
    justify-content: center;
  }
  .function-icons i {
    margin-bottom: 0.5em;
  }
  footer p {
    font-size: 0.9rem;
  }
}
.logo {
  display: flex;
}
.fa-book {
  font-size: 2rem;
  color: var(--secondary-color);
}

header p {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 0.3em;
  color: var(--secondary-color);
}
.function-icons {
  display: flex;
  align-items: center;
  position: relative;
  top: 3px;
}
.function-icons i {
  color: var(--secondary-color);
  cursor: pointer;
}
.function-icons i + i {
  margin-left: 1em;
}
.function-icons i .tag-space {
  margin-left: 0.5em;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 10px;
  padding: var(--small-padding);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.fa-github {
  color: var(--secondary-color);
}
main {
  padding: var(--small-padding);
}
.circle-design {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  margin-bottom: 1em;
  position: relative;
}
.circle-design::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--primary-color);
}
.book-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  max-width: 1000px;
  border: 1px solid red;
}
.hero-page-writings {
  line-height: 1.3;
  width: 40%;
  max-width: 400px;
  border: 1px solid red;
  padding: 1em 0;
}
.fa-book-open {
  font-size: 10em;
  align-self: flex-start;
  color: var(--tertiary-color);
}
.first-form {
  position: absolute;
  top: 3em;
  left: 15em;
  right: 15em;
  z-index: 1000;
  border-radius: 10px;
  display: none;
}
.first-form .fa-times {
  position: absolute;
  right: 1em;
  top: 3em;
  font-size: 1.2rem;
  color: var(--tertiary-color);
  cursor: pointer;
}
.first-form fieldset {
  background-color: rgb(223, 66, 18);
  padding: 2em 1em;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 0 40px 0 rgb(31, 23, 23);
}
.first-form legend {
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 3em;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  padding: 0.3em;
}
.first-form input[type="text"],
.first-form input[type="tel"] {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  border-radius: 5px;
}

.read-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.read-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--tertiary-color);
}
.read-container:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}
.read-container input:checked ~ .checkmark {
  background-color: greenyellow;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.read-container input:checked ~ .checkmark::after {
  display: block;
}
.read-container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn {
  margin-top: 2em;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}
.close-btn {
  margin-left: 1em;
}
@media (max-width: 750px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .close-btn {
    margin-left: 0;
    margin-top: 0.5em;
  }
}
@media (max-width: 700px) {
  .first-form {
    position: absolute;
    top: 3em;
    left: 4em;
    right: 4em;
  }
}
@media (max-width: 350px) {
  .first-form {
    left: 1em;
    right: 1em;
  }
  .first-form .fa-times {
    top: 2em;
  }
  .first-form legend {
    font-size: 1rem;
  }
}
.form-btn-span {
  margin-left: 0.3em;
}
.show {
  display: block;
}
.hide {
  display: none;
}
